<nav class="navbar">
    <div class="function-key">
        <ul class="nav nav-pills">
            <li class="nav-item mr-1"><button type="button" class="btn btn-light btm-sm"><span>F1</span></button></li>
            <li class="nav-item mr-1"><button type="button" class="btn btn-light btm-sm"><span>F2</span></button></li>
            <li class="nav-item mr-1"><button type="button" class="btn btn-light btm-sm"><span>F3</span></button></li>
            <li class="nav-item mr-4"><button type="button" class="btn btn-light btm-sm"><span>F4</span></button></li>

            <li class="nav-item  mr-1"><button type="button" class="btn btn-light btm-sm"><span>F5</span></button></li>
            <li class="nav-item  mr-1"><button type="button" class="btn btn-light btm-sm"><span>F6</span></button></li>
            <li class="nav-item  mr-1"><button type="button" class="btn btn-light btm-sm"><span>F7</span></button></li>
            <li class="nav-item  mr-4"><button type="button" class="btn btn-light btm-sm"><span>F8</span></button></li>

            <li class="nav-item  mr-1"><button type="button" class="btn btn-light btm-sm"><span>F9</span></button></li>
            <li class="nav-item  mr-1"><button type="button" class="btn btn-light btm-sm"><span>F10</span></button></li>
            <li class="nav-item  mr-1"><button type="button" class="btn btn-light btm-sm"><span>F11</span></button></li>
            <li class="nav-item  mr-1"><button type="button" class="btn btn-light btm-sm"><span>F12</span></button></li>
        </ul>
    </div>
</nav>